{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"></link>
</head>
<body>
    <h1>All Blog Post</h1>
    <ul>
        {% for post in post %}
            <li>
                <a href="{% url 'post-detail' post.pk %}">{{post.title}}</a>
                by {{post.author}} on {{post.published_date}}
            </li>
        {% endfor %}    
    </ul>
    <a href="{% url 'post-create' %}">Create New Post</a>
</body>
</html>